* {
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    max-width: 600px;
    min-width: 400px;
}
body {
    padding-left: 10px;
}
h1 {
    font-size: 3 rem;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
}

h2 {
    font-size: 2 rem;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: ;
     margin-top: 3px;
    color: ;
    background-color: ;
    
}
p em {
    color: darkgrey;
}

.logo {
    background-size: 100%;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: lightblue;
    height: 400px;
    width: 100px;
}
